body {
  padding-left: 01rem;
  padding-top: 0.1rem;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.h1 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mydiv {
  margin: 0;
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  text-align: center;
}
canvas {
  border: 2px solid black;
  background-color: whitesmoke;
  /* width: 256px;
  height: 256px; */
}
button {
  margin: 0.1rem;
  padding: 0.1rem;
}
.inputDescriber{
  width: 19rem;
  padding-bottom: 01rem;
}
.buttonDiv {
  float:left;
  padding: 0.1rem;
}